@define-color bg #141415;
@define-color inactiveBg #1c1c24;
@define-color fg #cdcdcd;
@define-color floatBorder #878787;
@define-color active #cdcdcd;

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  min-width: 10px;
  font-family: 'JetBrainsMono Nerd Font', 'Noto Sans Nerd Font', monospace;
  font-size: 13px;
}

#waybar {
  background-color: transparent;
}

.modules-left {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#workspaces button {
  all: initial;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.8;
}

#workspaces button.active {
  background-color: @active;
  color: @bg;
  opacity: 1;
}

#workspaces button.empty {
  opacity: 0.4;
}

#workspaces button:hover {
  background-color: @inactiveBg;
}

.modules-center {
  color: @fg;
}

#clock {
  font-weight: bold;
}

.modules-right {
  color: @fg;
  margin-right: 20px;
}

#cpu,
#battery,
#pulseaudio,
#bluetooth,
#network {
  padding-left: 10px;
  padding-right: 10px;
}

#tray {
  margin-right: 20px;
}

tooltip {
  background-color: @inactiveBg;
  border: 1px solid @floatBorder;
}

.hidden {
  opacity: 0;
}

#battery.warning {
  color: #f3be7c;
}

#battery.critical {
  color: #d8647e;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.4;
  }
}

#pulseaudio.muted {
  opacity: 0.4;
}

#network.disconnected {
  opacity: 0.4;
}
