@define-color bg #141415;
@define-color inactiveBg #1c1c24;
@define-color fg #cdcdcd;
@define-color floatBorder #878787;
@define-color active #f3be7c;

* {
  border: none;
  border-radius: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @fg;
}

.modules-center {
  background-color: @inactiveBg;
}

#workspaces button {
  all: initial;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.active {
  background-color: @active;
  color: @inactiveBg;
}

#workspaces button:hover {
  background-color: @bg;
}

#clock {
  background-color: @inactiveBg;
  padding-left: 10px;
  padding-right: 10px;
}

#cpu {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 11px;
  background-color: @inactiveBg;
}

#network {
  padding-left: 10px;
  padding-right: 15px;
  background-color: @inactiveBg;
}

#bluetooth {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @inactiveBg;
}

#pulseaudio {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 15px;
  background-color: @inactiveBg;
}

#tray {
  margin-right: 20px;
}

tooltip {
  background-color: @inactiveBg;
  border: 1px solid @floatBorder;
}

.hidden {
  opacity: 0;
}

#battery.warning {
  color: #f3be7c;
}

#battery.critical {
  color: #d8647e;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

#pulseaudio.muted {
  opacity: 0.5;
}

#network.disconnected {
  opacity: 0.5;
}
