/.claude

/common/dev/.config/nvim/lazy-lock.json
/common/dev/.config/tmux/plugins
/common/dev/.config/yazi/plugins
/common/dev/.config/zed/prompts

/macos/karabiner/.config/karabiner/automatic_backups

/common/dev/.config/emacs/elpa
/common/dev/.config/emacs/eshell
