/.claude

/dev/.config/nvim/lazy-lock.json
/dev/.config/tmux/plugins
/dev/.config/yazi/plugins
/dev/.config/zed/prompts

/desktop-macos/.config/karabiner/automatic_backups

/dev/.config/emacs/elpa
/dev/.config/emacs/eshell
