/common/nvim/.config/nvim/lazy-lock.json
/common/tmux/.config/tmux/plugins
/common/yazi/.config/yazi/plugins
/common/yazi/.config/yazi/flavors
/common/zed/.config/zed/prompts

/macos/karabiner/.config/karabiner/automatic_backups

*.local
